﻿&nbsp;&nbsp;&nbsp; 
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center>&nbsp;<A title="Cancelar suscripción al envío por web" href="http://ruta_veremail_abcxyz/?dat={dat_reg}" a><FONT color=#6d6d6d>Versión online</FONT></A></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE height=91 cellSpacing=0 cellPadding=0 width=600 align=center background=https://apps.likeit.pe/upload/media/felicitaciones_01.27082015093406.png border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
  <TD>&nbsp;</TD>
  <TD height=28 vAlign=top>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD height=28 vAlign=top width=500><IMG src="https://apps.likeit.pe/upload/media/felicitaciones_02.27082015093414.png" width=500 height=10></TD>
  <TD>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD style="FONT-SIZE: 27px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #00529f" width=500 align=center>{nom_persona}<br>
  <span style="font-size:35px;"><strong>¡SÉ UN EXPERTO!</strong></span><br>
</TD>
<TD>&nbsp;</TD></TR>
<TR>
  <TD>&nbsp;</TD>
  <TD height=28 style="font-size: 22px;font-family: Arial, Helvetica, sans-serif;color: #00529f" align="center" vAlign=middle>Ya diste el primer paso en tu carrera</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD height=28 vAlign=bottom width=500><IMG src="https://apps.likeit.pe/upload/media/felicitaciones_02.27082015093414.png" width=500 height=10></TD>
  <TD>&nbsp;</TD></TR>
<TR>
  <TD>&nbsp;</TD>
  <TD height=28 vAlign=bottom>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
</TBODY>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
  <TD width=90>&nbsp;</TD>
  <TD style="FONT-SIZE: 17px; FONT-FAMILY: Arial, Helvetica, sans-serif;color:#0097d4;" width=420 align=center><strong>Tienes 2 días para asegurar tu matrícula con el descuento caliente.</strong></TD>
  <TD width=90>&nbsp;</TD></TR>
<TR>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 17px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #5b5b5b" align=center>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
</TBODY>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
  <TD width=51>&nbsp;</TD>
  <TD width=72><img src="http://mailing.ipae.edu.pe/store/plantillas/comunes/ico-descuento.png" width=58 height=60></TD>
  <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #95bd1c" width=124>En&nbsp;tu matrícula,<BR>paga HOY ! *</TD>
  <TD width=51>&nbsp;</TD>
  <TD width=72><img height="60" src="http://mailing.ipae.edu.pe/store/plantillas/comunes/ico-graduation.png" width="58" /></TD>
  <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #95bd1c" width=182><STRONG>EGRESADOS</STRONG><br>
60% trabaja al momento de egresar.</TD>
  <TD width=48>&nbsp;</TD></TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e43137">&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0097d4">&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD><img src="http://mailing.ipae.edu.pe/store/plantillas/comunes/ico-document.png" width=58 height=60></TD>
  <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e43137"><span style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #95bd1c">Documentos<BR>
    obligatorios**</span></TD>
  <TD>&nbsp;</TD>
  <TD><img src="http://mailing.ipae.edu.pe/store/plantillas/comunes/ico-foco.png" width=58 height=60></TD>
  <TD style="font-size:15px;font-family: Arial, Helvetica, sans-serif; COLOR: #0097d4"><span style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #95bd1c"><strong>APRENDIZAJE</strong><br>
aplicado.</span></TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e43137">&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0097d4">&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD colspan="5" align="center"><table border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width=69><img src="http://mailing.ipae.edu.pe/store/plantillas/comunes/ico-clases.png" width=58 height=60></td>
      <td width=132 style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif;COLOR:#95bd1c;" ><strong><font style="FONT-SIZE: 17px">VIVE</font></strong><br>
        la experiencia</td>
    </tr>
  </table></TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e43137">&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0097d4">&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
</TBODY>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
  <TBODY>
<TR>
  <TD>&nbsp;</TD>
  <TD style="font-size: 15px;font-family:Arial, Helvetica, sans-serif;color:gray;" align=center><strong>Asegura tu vacante haciendo el pago de tu matrícula en : </strong></TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD height="10" colspan="3"></TD>
  </TR>
<TR>
  <TD width=50>&nbsp;</TD>
  <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #5b5b5b" width=500 align=left><p>1. Bancos Afiliados* <br>
    2. Agentes autorizados <br>
    3. Pasarela Visa <br>
    4. Banca por Internet [ Darle relevancia a estas alternativas de pago ] *Bancos afiliados : BCP, Interbank, BBVA Continental, Scotiabank y Banbif.</p></TD>
  <TD width=50>&nbsp;</TD></TR>
<TR>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #5b5b5b" align=center>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD width=50>&nbsp;</TD>
  <TD style="FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #777777" width=500>**Documentos obligatorios:<BR>&gt; Certificados originales de estudios secundarios<BR>&gt; Fotocopia del DNI</TD>
  <TD width=50>&nbsp;</TD></TR>
<TR>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #777777">&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
</TBODY>
</TABLE>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="background:#194d8a;border-top:2px solid #95c71c;">
  <tbody>
    <tr>
      <td height="10" colspan="4"></td>
    </tr>
    <tr>
      <td width="20">&nbsp;</td>
      <td width="175"><img src="https://bytebucket.org/addconsulta/ipae/raw/503a3ad4d619e24432142284d1e9dd2d553c21dc/diplomados-y-carreras/imagenes/logo-acreditacion-universal.png" ></td>
      <td width="290" align="right" valign="middle"><strong style="font-size: 12px;font-family: Arial, Helvetica, sans-serif;color:#ffffff">Contáctanos: {TelefonoSede}</strong></td>
      <td width="64" style="width:64px;text-align:right;">
        <a href="https://goo.gl/Sq9sRe" target="_blank">
          <img alt="Siguenos en Facebook" border="0" height="32" src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/facebook.png" width="32" style="margin-right:15px;" />
        </a>
      </td>
    </tr>
    <tr>
      <td height="10" colspan="4"></td>
    </tr>
  </tbody>
</table>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
  <TBODY>
<TR>
  <TD height="20" align=center style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383">&nbsp;</TD>
</TR>
<TR>
<TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center>Este mail ha sido enviado a:&nbsp;{gls_mail} por IPAE Escuela de Empresarios.</TD></TR>
<TR>
  <TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center>&nbsp;</TD>
</TR>
<TR>
<TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center></TD></TR></TBODY></TABLE>
<img src="https://www.google-analytics.com/collect?v=1&amp;tid=UA-65415620-1&amp;cid=65415620&amp;cn=mail&amp;cm=emailcs=newsletter&amp;&amp;t=event&amp;ec=mailing&amp;el=Nuevas+preinscripciones+Junio+2016&amp;ea=open&amp;sc=start&amp;sc=end&amp;z=289372387623"> 