﻿<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center><A title="Cancelar suscripción al envío por web" href="http://ruta_veremail_abcxyz/?dat={dat_reg}" a><FONT color=#6d6d6d>Versión online</FONT></A></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE height=91 cellSpacing=0 cellPadding=0 width=600 align=center background=https://apps.likeit.pe/upload/media/pasos_seguir_a_01.26082015161221.png border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
  <TD>&nbsp;</TD>
  <TD height=28 vAlign=top>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD height=28 vAlign=top width=520><IMG src="https://apps.likeit.pe/upload/media/pasos_seguir_a_02.26082015161231.png" width=520 height=10></TD>
  <TD>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD style="FONT-SIZE: 35px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #00529f" width=520 align=center><FONT style="FONT-SIZE: 33px">{nom_persona},</FONT><BR>
  <STRONG>¡SÉ UN EXPERTO!</STRONG></TD>
<TD>&nbsp;</TD></TR>
<TR>
  <TD>&nbsp;</TD>
  <TD height=28 style="font-size: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #00529f" align="center" vAlign=middle>ya estás a <strong>UN PASO</strong> de<BR>
    <strong>HACERTE MÁS VALIOSO</strong></TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD height=28 vAlign=bottom width=520><IMG src="https://apps.likeit.pe/upload/media/pasos_seguir_a_02.26082015161231.png" width=520 height=10></TD>
  <TD>&nbsp;</TD></TR>
<TR>
  <TD>&nbsp;</TD>
  <TD height=28 vAlign=bottom>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
</TBODY>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
  <TD width=42>&nbsp;</TD>
  <TD style="FONT-SIZE: 17px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0097d4" width=516>
  <P align=center>Recuerda que para ser parte de <STRONG>IPAE Escuela de Empresarios</STRONG> solo te falta:</P></TD>
  <TD width=42>&nbsp;</TD></TR>
<TR>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 17px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0097d4">&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
</TBODY>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD width=40>&nbsp;</TD>
<TD width=26><IMG src="https://apps.likeit.pe/upload/media/pasos_seguir_a_03.26082015161240.png" width=24 height=24></TD>
<TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #494949" width=494>Certificados originales de estudios secundarios</TD>
<TD width=40>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
  <TBODY>
<TR>
<TD width=40>&nbsp;</TD>
<TD width=26><IMG src="https://apps.likeit.pe/upload/media/pasos_seguir_a_03.26082015161240.png" width=24 height=24></TD>
<TD style="FONT-SIZE: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #494949" width=494>Copia del DNI</TD>
<TD width=40>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ee8100">&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD width=84>&nbsp;</TD>
  <TD style="FONT-SIZE: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ee8100" width=432>
    <P align=center>Inicio de clases y  <STRONG>MAP </STRONG><br>
      <strong>Viernes 30 de Setiembre</strong></P></TD>
  <TD width=84>&nbsp;</TD></TR>
<TR>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ee8100">&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD align="center" style="FONT-SIZE: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #696B6B;">Vive la experiencia de tu carrera.</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD align="center" valign="middle" style="FONT-SIZE: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ee8100"></TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD align="center" valign="middle" style="FONT-SIZE: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ee8100"><table width="200" border="0" cellspacing="0" cellpadding="10">
    <tbody>
      <tr>
        <td align="center" style="background:#0097d4;"><a href="" style="text-decoration:none;color:#fff;">Inscribete ahora</a></td>
      </tr>
    </tbody>
  </table></TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ee8100">&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
</TBODY>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD>
<TD vAlign=top width=472 align=left><IMG src="https://apps.likeit.pe/upload/media/pasos_seguir_a_04.26082015161250.png" width=464 height=33></TD>
<TD>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE height=40 cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD width=44>&nbsp;</TD>
<TD style="FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" width=65 align=center>Inscripción</TD>
<TD width=50>&nbsp;</TD>
<TD style="FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" width=33 align=center>Pago</TD>
<TD width=46>&nbsp;</TD>
<TD style="FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" width=77 align=center>Entrega de<BR>documentos</TD>
<TD width=43>&nbsp;</TD>
<TD style="FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" width=29 align=center>MAE</TD>
<TD width=57>&nbsp;</TD>
<TD style="FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" width=57 align=center>Matrícula<BR>completa</TD>
<TD width=53>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD height=44>&nbsp;</TD></TR></TBODY></TABLE>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="background:#194d8a;border-top:2px solid #95c71c;">
  <tbody>
    <tr>
      <td height="10" colspan="4"></td>
    </tr>
    <tr>
      <td width="20">&nbsp;</td>
      <td width="175"><img src="https://bytebucket.org/addconsulta/ipae/raw/503a3ad4d619e24432142284d1e9dd2d553c21dc/diplomados-y-carreras/imagenes/logo-acreditacion-universal.png" ></td>
      <td width="290" align="right" valign="middle"><strong style="font-size: 12px;font-family: Arial, Helvetica, sans-serif;color:#ffffff">Contáctanos: {TelefonoSede}</strong></td>
      <td width="64" style="width:64px;text-align:right;"><a href="https://goo.gl/Sq9sRe" target="_blank"> <img alt="Siguenos en Facebook" border="0" height="32" src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/facebook.png" width="32" style="margin-right:15px;" /> </a></td>
    </tr>
    <tr>
      <td height="10" colspan="4"></td>
    </tr>
  </tbody>
</table>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
  <TBODY>
<TR>
<TD>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center>Este mail ha sido enviado a:&nbsp;{gls_mail}&nbsp;por IPAE Escuela de Empresarios.</TD></TR>
<TR>
  <TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center>&nbsp;</TD>
</TR>
<TR>
<TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center></TD></TR></TBODY></TABLE>
<img src="https://www.google-analytics.com/collect?v=1&amp;tid=UA-65415620-1&amp;cid=65415620&amp;cn=mail&amp;cm=emailcs=newsletter&amp;&amp;t=event&amp;ec=mailing&amp;el=Nuevos+Pagantes+Junio+2016&amp;ea=open&amp;sc=start&amp;sc=end&amp;z=289372387623"> 