<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center><A title="Cancelar suscripción al envío por web" href="http://ruta_veremail_abcxyz/?dat={dat_reg}" a><FONT color=#6d6d6d>Versión online</FONT></A></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE height=91 cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD><IMG alt="Ingresa aquí" src="https://apps.likeit.pe/upload/media/cam01.27012016100010.png" width=600 height=91></TD></TR>
<TR>
<TD><IMG alt="Ingresa aquí" src="https://apps.likeit.pe/upload/media/cam02.27012016100020.png" width=600 height=290></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD height=48>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD height=26 vAlign=top><IMG src="https://apps.likeit.pe/upload/media/cam03.27012016100027.png" width=430 height=10></TD>
<TD>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD style="FONT-SIZE: 28px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #005ba9" height=125 width=430 align=center>{Nombre}<BR><STRONG>Matricúlate HOY y SÉ<BR>un EXPERTO con <BR>Nuestras Carreras.</STRONG></TD>
<TD>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD height=26 vAlign=bottom><IMG src="https://apps.likeit.pe/upload/media/cam03.27012016100027.png" width=430 height=10></TD>
<TD>&nbsp;</TD></TR>
<TR>
<TD height=37>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD align=center><A href="http://estudiaenipae.pe/?utm_source=correo&amp;utm_medium=email&amp;utm_campaign=carreras"><IMG border=0 alt="¡Comienza ahora!" src="https://apps.likeit.pe/upload/media/bt01.27012016100038.png" width=295 height=55></A></TD>
<TD>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD></TR>
<TR>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #5b5b5b" align=center><STRONG></STRONG></TD>
  <TD>&nbsp;</TD></TR>
<TR>
  <TD>&nbsp;</TD>
  <TD style="FONT-SIZE: 21px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #797979" align=center><STRONG>¿Por qué estudiar una carrera en<BR>IPAE Escuela de Empresarios?</STRONG></TD>
  <TD>&nbsp;</TD></TR>
<TR>
<TD height=37>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD width=37>&nbsp;</TD>
<TD width=76><IMG src="http://mailing.ipae.edu.pe/store/plantillas/comunes/icon-prestigio.png" width=70 height=70></TD>
<TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #95bd1c" width=175><STRONG><FONT style="FONT-SIZE: 17px">PRESTIGIO</FONT></STRONG><BR>formando profesionales<BR>desde 1968.</TD>
<TD width=26>&nbsp;</TD>
<TD width=76><IMG src="https://bytebucket.org/addconsulta/ipae/raw/503a3ad4d619e24432142284d1e9dd2d553c21dc/diplomados-y-carreras/imagenes/ico-egresados.png" width=70 height=70></TD>
<TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #95bd1c" width=175><STRONG><FONT style="FONT-SIZE: 17px">EGRESADOS</FONT></STRONG><BR>60% trabaja al momento de egresar.</TD>
<TD width=35>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD></TR>
<TR>
<TD width=37>&nbsp;</TD>
<TD width=76><IMG src="https://bytebucket.org/addconsulta/ipae/raw/503a3ad4d619e24432142284d1e9dd2d553c21dc/diplomados-y-carreras/imagenes/ico-aprendizaje.png" width=70 height=70></TD>
<TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #95bd1c" width=175><STRONG><FONT style="FONT-SIZE: 17px">APRENDIZAJE</FONT></STRONG><BR>aplicado.</TD>
<TD width=26>&nbsp;</TD>
<TD width=76><IMG src="https://bytebucket.org/addconsulta/ipae/raw/503a3ad4d619e24432142284d1e9dd2d553c21dc/diplomados-y-carreras/imagenes/ico-carreras-docentes.png" width=70 height=70></TD>
<TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #95bd1c" width=175><STRONG><FONT style="FONT-SIZE: 17px">DOCENTES</FONT></STRONG><BR>con experiencia laboral.</TD>
<TD width=35>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD></TR>
<TR>
<TD width=37>&nbsp;</TD>
<TD width=76><IMG src="https://bytebucket.org/addconsulta/ipae/raw/503a3ad4d619e24432142284d1e9dd2d553c21dc/diplomados-y-carreras/imagenes/ico-carreras-infraestructura.png" width=70 height=70></TD>
<TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0097d4" width=175><STRONG style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: rgb(149,189,28)"><FONT style="FONT-SIZE: 17px">INFRAESTRUCTURA</FONT></STRONG><BR style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: rgb(149,189,28)"><SPAN style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: rgb(149,189,28)">aulas equipadas.</SPAN></TD>
<TD width=26>&nbsp;</TD>
<TD width=76><IMG src="https://bytebucket.org/addconsulta/ipae/raw/503a3ad4d619e24432142284d1e9dd2d553c21dc/diplomados-y-carreras/imagenes/ico-carreras-titulo.png" width=70 height=70></TD>
<TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0097d4" width=175><STRONG style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: rgb(149,189,28)"><FONT style="FONT-SIZE: 17px">TÍTULO</FONT></STRONG><BR style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: rgb(149,189,28)"><SPAN style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: rgb(149,189,28)">a nombre de la nación.</SPAN></TD>
<TD width=35>&nbsp;</TD></TR>
<TR>
<TD height=35>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD>
<TD style="FONT-SIZE: 24px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e8252e" align=center><STRONG>¡INSCRIPCIONES ABIERTAS!</STRONG></TD>
<TD>&nbsp;</TD></TR>
<TR>
<TD height=49>&nbsp;</TD></TR></TBODY></TABLE>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="background:#194d8a;border-top:2px solid #95c71c;margin-bottom:18px;">
  <tbody>
    <tr>
      <td style="width:100px;"><img src="https://bytebucket.org/addconsulta/ipae/raw/503a3ad4d619e24432142284d1e9dd2d553c21dc/diplomados-y-carreras/imagenes/logo-interbank.png" style="margin-left:20px;margin-top:15px;margin-bottom:15px;"></td>
      <td><img src="https://bytebucket.org/addconsulta/ipae/raw/503a3ad4d619e24432142284d1e9dd2d553c21dc/diplomados-y-carreras/imagenes/logo-acreditacion-universal.png" style="margin-left:20px;"></td>
      <td style="width:64px;text-align:right;">
        <a href="https://goo.gl/Sq9sRe" target="_blank">
          <img alt="Siguenos en Facebook" border="0" height="32" src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/facebook.png" width="32" style="margin-right:15px;" />
        </a>
      </td>
    </tr>
  </tbody>
</table>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center>Este mail ha sido enviado a:&nbsp;{Correo}&nbsp;por IPAE Escuela de Empresarios.</TD></TR>
<TR>
<TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center>Para anular tu suscripción, haz clic <A title="Cancelar suscripción al envío por web" href="http://ruta_optout_abcxyz/?dat={dat_optout}" a><FONT color=#6d6d6d>aquí</FONT></A></TD></TR></TBODY></TABLE><IMG src="https://www.google-analytics.com/collect?v=1&amp;tid=UA-65415620-1&amp;cid=65415620&amp;cn=mail&amp;cm=emailcs=newsletter&amp;&amp;t=event&amp;ec=mailing&amp;el=Carreras+Junio+2016&amp;ea=open&amp;sc=start&amp;sc=end&amp;z=289372387623"> 