<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center><A title="Cancelar suscripción al envío por web" href="http://ruta_veremail_abcxyz/?dat={dat_reg}" a><FONT color=#6d6d6d>Versión online</FONT></A></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE height=91 cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD><IMG alt="Ingresa aquí" src="https://apps.likeit.pe/upload/media/cam01.27012016100010.png" width=600 height=91></TD></TR>
<TR>
<TD><IMG alt="Ingresa aquí" src="https://apps.likeit.pe/upload/media/cam02.27012016100020.png" width=600 height=290></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD height=48>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD height=26 vAlign=top><IMG src="https://apps.likeit.pe/upload/media/cam03.27012016100027.png" width=430 height=10></TD>
<TD>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD style="FONT-SIZE: 28px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #005ba9" height=125 width=430 align=center>¡Hola {Nombre1}!<BR><STRONG>Matricúlate HOY y sé<BR>un EXPERTO en<BR>{NombreCarrera}</STRONG></TD>
<TD>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD height=26 vAlign=bottom><IMG src="https://apps.likeit.pe/upload/media/cam03.27012016100027.png" width=430 height=10></TD>
<TD>&nbsp;</TD></TR>
<TR>
<TD height=37>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD align=center><A href="http://estudiaenipae.pe/?utm_source=correo&amp;utm_medium=email&amp;utm_campaign=carreras"><IMG border=0 alt="¡Comienza ahora!" src="https://apps.likeit.pe/upload/media/bt01.27012016100038.png" width=295 height=55></A></TD>
<TD>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD style="FONT-SIZE: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #5b5b5b" align=center><STRONG></STRONG></TD>
<TD>&nbsp;</TD></TR>
<TR>
<TD height=49>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD>
<TD style="FONT-SIZE: 21px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #797979" align=center><STRONG>¿Por qué estudiar una carrera en<BR>IPAE Escuela de Empresarios?</STRONG></TD>
<TD>&nbsp;</TD></TR>
<TR>
<TD height=37>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD width=37>&nbsp;</TD>
<TD width=76><IMG src="https://apps.likeit.pe/upload/media/cam04.27012016100047.png" width=70 height=70></TD>
<TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #95bd1c" width=175><STRONG><FONT style="FONT-SIZE: 17px">PRESTIGIO</FONT></STRONG><BR>formando profesionales<BR>desde 1968</TD>
<TD width=26>&nbsp;</TD>
<TD width=76><IMG src="https://apps.likeit.pe/upload/media/cam05.27012016100059.png" width=70 height=70></TD>
<TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #95bd1c" width=175><STRONG><FONT style="FONT-SIZE: 17px">CARRERAS</FONT></STRONG><BR>que el país necesita</TD>
<TD width=35>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD></TR>
<TR>
<TD width=37>&nbsp;</TD>
<TD width=76><IMG src="https://apps.likeit.pe/upload/media/cam06.27012016100106.png" width=70 height=70></TD>
<TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #95bd1c" width=175><STRONG><FONT style="FONT-SIZE: 17px">RESPALDO</FONT></STRONG><BR>del grupo Intercorp</TD>
<TD width=26>&nbsp;</TD>
<TD width=76><IMG src="https://apps.likeit.pe/upload/media/cam07.27012016100115.png" width=70 height=70></TD>
<TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #95bd1c" width=175><STRONG><FONT style="FONT-SIZE: 17px">TÍTULO</FONT></STRONG><BR>a nombre de la nación</TD>
<TD width=35>&nbsp;</TD></TR>
<TR>
<TD>&nbsp;</TD></TR>
<TR>
<TD width=37>&nbsp;</TD>
<TD width=76><IMG src="https://apps.likeit.pe/upload/media/cam08.27012016100122.png" width=70 height=70></TD>
<TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0097d4" width=175><STRONG><FONT style="FONT-SIZE: 17px">CARRERAS</FONT></STRONG><BR>de 2 y 3 años</TD>
<TD width=26>&nbsp;</TD>
<TD width=76><IMG src="https://apps.likeit.pe/upload/media/cam09.27012016102510.png" width=70 height=70></TD>
<TD style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0097d4" width=175><STRONG><FONT style="FONT-SIZE: 17px">NUEVA FACULTAD</FONT></STRONG><BR>de Tecnología</TD>
<TD width=35>&nbsp;</TD></TR>
<TR>
<TD height=35>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD>
<TD style="FONT-SIZE: 24px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e8252e" align=center><STRONG>¡INSCRIPCIONES ABIERTAS!</STRONG></TD>
<TD>&nbsp;</TD></TR>
<TR>
<TD height=49>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE height=55 cellSpacing=0 cellPadding=0 width=600 align=center background=https://apps.likeit.pe/upload/media/cam10.27012016100139.png border=0>
<TBODY>
<TR>
<TD width=252>&nbsp;</TD>
<TD style="FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff" width=270 align=right><STRONG>Contáctanos: {TelSede}</STRONG></TD>
<TD width=64 align=center><A href="https://goo.gl/Sq9sRe"><IMG alt="Siguenos en Facebook" src="https://apps.likeit.pe/upload/media/fb.27012016100147.png" width=28 height=28></A></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center>Este mail ha sido enviado a:&nbsp;{email}&nbsp;por IPAE Escuela de Empresarios.</TD></TR>
<TR>
<TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center>Para anular tu suscripción, haz clic <A title="Cancelar suscripción al envío por web" href="http://ruta_optout_abcxyz/?dat={dat_optout}" a><FONT color=#6d6d6d>aquí</FONT></A></TD></TR></TBODY></TABLE>