﻿<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center><A title="Cancelar suscripción al envío por web" href="http://ruta_veremail_abcxyz/?dat={dat_reg}" a><FONT color=#6d6d6d>Versión online</FONT></A></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE height=91 cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD><IMG alt="Ingresa aquí" src="https://bytebucket.org/addconsulta/ipae/raw/000c3fd5264b9abc5a4c9b0aa7c8913bfea309a9/diplomados-y-carreras/imagenes/diplos-cabe.jpg" width="600" height="90" border="0"></TD></TR></TBODY></TABLE>

<table align="center" width="600" border="0" cellspacing="0" cellpadding="0">
<tbody>
  <tr>
    <td width="42" height="48">&nbsp;</td>
    <td width="516" height="48">&nbsp;</td>
    <td width="42" height="48">&nbsp;</td>
  </tr>
  <tr>
    <td width="42" height="100">&nbsp;</td>
    <td width="516" height="100" valign="top" align="center" style="font-family: Arial, Helvetica, sans-serif; COLOR: #008397">
      <div style="font-size: 32px">
        <strong>#ComplementaTuFormación</strong><br>
        </div>
      <div style="font-size: 28px">
        Con nuestro Diplomado<br>
        en<br>
        {XXXX}
        </div>
      </td>
    <td width="42" height="100">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td valign="top" align="center" style="font-family: Arial, Helvetica, sans-serif; COLOR: #008397">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="42" height="30">&nbsp;</td>
    <td width="516" height="30">&nbsp;</td>
    <td width="42" height="30">&nbsp;</td>
  </tr>
 </tbody>
</table>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<tbody>
  <tr>
    <td width=42>&nbsp;</td>
    <td width=69><img height="70" src="https://apps.likeit.pe/upload/media/cam04.27012016100047.png" width="70" /></td>
    <td style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #95bd1c" width=175><strong><font style="FONT-SIZE: 17px">PRESTIGIO</font></strong><br>
      formando profesionales desde 1968</td>
    <td width=28>&nbsp;</td>
    <td width=69><img src="https://bytebucket.org/addconsulta/ipae/raw/d3cdf15242ce95875528e92e929067ac45f7f431/diplomados-y-carreras/imagenes/icon-docentes.png" width=58 height=60></td>
    <td valign="top" style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR:#95bd1c;" width=175><strong><font style="FONT-SIZE: 17px">DOCENTES</font></strong><br>
      con reconocida<br>
      Trayectoria</td>
    <td width=42>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #95bd1c">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td valign="top" style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR:#95bd1c;">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width=42>&nbsp;</td>
    <td width=69><img src="https://bytebucket.org/addconsulta/ipae/raw/d3cdf15242ce95875528e92e929067ac45f7f431/diplomados-y-carreras/imagenes/icon-metodologia.png" width=58 height=60></td>
    <td style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR:#95bd1c;" width=175><strong><font style="FONT-SIZE: 17px">METODOLOGÍA</font></strong><br>Práctica</td>
    <td width=28>&nbsp;</td>
    <td width=69><img src="https://bytebucket.org/addconsulta/ipae/raw/d3cdf15242ce95875528e92e929067ac45f7f431/diplomados-y-carreras/imagenes/icon-networking.png" width=58 height=60></td>
    <td style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR:#95bd1c;" width=175><strong><font style="FONT-SIZE: 17px">NETWORKING</font></strong><br>amplia tu red.</td>
    <td width=42>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR:#95bd1c;">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR:#95bd1c;">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
   <tr>
     <td width=42>&nbsp;</td>
     <td colspan="5">
       <table align="center">
         <tr>
           <td width=69><img src="https://bytebucket.org/addconsulta/ipae/raw/d3cdf15242ce95875528e92e929067ac45f7f431/diplomados-y-carreras/imagenes/icon-descuento.png" width=58 height=60></td>
           <td width=175 style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif;COLOR:#95bd1c;" ><strong><font style="FONT-SIZE: 17px">DESCUENTOS</font></strong><br>
             en tu matrícula</td>
           </tr>
        </table>
      </td>
     <td width=42>&nbsp;</td>
   </tr>
  <tr>
    <td height=42 colspan="7">&nbsp;</td>
  </tr>
</tbody>
</TABLE>


<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td height="26" valign="top"><img height="10" src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/linea.png" width="430" /></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td style="font-size: 25px;font-family: Arial, Helvetica, sans-serif;color: #55acba;" height="125" width="430" align="center"><div style="color: #0097D0; font-size: 22px;"><strong>Inicio de Clases :  XX de XXX 2016.</strong></div>
        <div style="color: #797979; font-size: 19px;"> Inversión : S/ XXX ( monto al contado)</div>
        <div style="color: #797979; font-size: 19px;"> S/ XXX (matrícula + 5 cuotas)</div>
        <div style="color: #797979; font-size: 22px;"><strong>{Texto para enfatizar el descuento}</strong></div></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td height="26" valign="bottom"><img height="10" src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/linea.png" width="430" /></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td height="26" valign="bottom">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td height="26" valign="bottom" style="font-size: 24px;font-family: Arial, Helvetica, sans-serif;text-align:center;color:#e8252e"><strong>&iexcl;INSCRIPCIONES ABIERTAS!</strong></td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
  <TBODY>
<TR>
  <TD>&nbsp;</TD>
  <td style="FONT-SIZE: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #6d6d6d" align=center>&nbsp;</td>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <td style="FONT-SIZE: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #6d6d6d" align=center>
  <p>Para más información, contáctanos al {TelSede}&nbsp;ó al<BR>correo {CorreoSede}</p></td>
  <TD>&nbsp;</TD></TR>
<TR>
  <TD>&nbsp;</TD>
  <td style="FONT-SIZE: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #6d6d6d" align=center>&nbsp;</td>
  <TD>&nbsp;</TD>
</TR>
  </TBODY>
</TABLE>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="background:#008397;border-top:2px solid #95c71c;margin-bottom:18px;">
  <tbody>
    <tr>
      <td style="width:100px;"><img src="https://bytebucket.org/addconsulta/ipae/raw/503a3ad4d619e24432142284d1e9dd2d553c21dc/diplomados-y-carreras/imagenes/logo-interbank.png" style="margin-left:20px;margin-top:15px;margin-bottom:15px;"></td>
      <td><img src="https://bytebucket.org/addconsulta/ipae/raw/503a3ad4d619e24432142284d1e9dd2d553c21dc/diplomados-y-carreras/imagenes/logo-acreditacion-universal.png" style="margin-left:20px;"></td>
      <td style="width:64px;text-align:right;">
        <a href="https://goo.gl/Sq9sRe" target="_blank">
          <img alt="Siguenos en Facebook" border="0" height="32" src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/facebook.png" width="32" style="margin-right:15px;" />
        </a>
      </td>
    </tr>
  </tbody>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
  <tbody>
    <tr>
      <td align="center" style="font-size: 11px;font-family: Arial, Helvetica, sans-serif;color: #838383">Este mail ha sido enviado a:&nbsp;{email}&nbsp;por IPAE Escuela de Empresarios.</td>
    </tr>
    <tr>
      <td align="center" style="font-size: 11px;font-family: Arial, Helvetica, sans-serif;color: #838383">&nbsp;</td>
    </tr>
  </tbody>
</table>