﻿<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD style="FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #838383" align=center><A title="Cancelar suscripción al envío por web" href="http://ruta_veremail_abcxyz/?dat={dat_reg}" a><FONT color=#6d6d6d>Versión online</FONT></A></TD></TR></TBODY></TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD></TR></TBODY></TABLE>
<TABLE height=91 cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD><IMG alt="Ingresa aquí" src="https://bytebucket.org/addconsulta/ipae/raw/503a3ad4d619e24432142284d1e9dd2d553c21dc/diplomados-y-carreras/imagenes/header.png" width="600" height="90" border="0"></TD></TR></TBODY></TABLE>

<table align="center" width="600" border="0" cellspacing="0" cellpadding="0">
<tbody>
  <tr>
    <td width="42" height="48">&nbsp;</td>
    <td width="516" height="48">&nbsp;</td>
    <td width="42" height="48">&nbsp;</td>
  </tr>
  <tr>
    <td width="42" height="35">&nbsp;</td>
    <td width="516" valign="top"><img src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/linea.png" width="516" height="10" border="0"></td>
    <td width="42"  height="35">&nbsp;</td>
  </tr>
  <tr>
    <td width="42" height="100">&nbsp;</td>
    <td width="516" height="100" valign="top" align="center" style="font-family: Arial, Helvetica, sans-serif; COLOR: #008397"><font style="font-size: 32px"><strong>#ComplementaTuFormación</strong></font><br><font style="font-size: 28px">Con nuestros Diplomados</font></td>
    <td width="42" height="100">&nbsp;</td>
  </tr>
  <tr>
    <td width="42" height="48">&nbsp;</td>
    <td width="516" height="48" valign="top">
        <table width="516" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="258" align="center" valign="top"><img src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/image1.png" alt="diplomado" width="156" height="99" border="0" style="margin-bottom:13px;"></td>
            <td width="258" align="center" valign="top"><img src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/image2.png" alt="diplomado" width="138" height="99" border="0" style="margin-bottom:13px;"></td>
          </tr>
          <tr>
            <td width="258" align="center" valign="top" style="font-family:Arial, Helvetica;font-size:26px;color:#018399;line-height:23px;"><strong>DIPLOMADO<br>VIRTUAL</strong></td>
            <td width="258" align="center" valign="top" style="font-family:Arial, Helvetica;font-size:26px;color:#FF8A00;line-height:23px;"><strong>DIPLOMADO<br>PRESENCIAL</strong></td>
          </tr>
          <tr>
            <td width="258" height="6"></td>
            <td width="258" height="6"></td>
          </tr>
          <tr>
            <td width="258" height="45" align="center" valign="top" style="font-family:Arial, Helvetica;font-size:13px;color:#6d6d6d;">Estudia desde donde estés.</td>
            <td width="258" height="45" align="center" valign="top" style="font-family:Arial, Helvetica;font-size:13px;color:#6d6d6d;">Estudia en cualquiera de<br>nuestras sedes.</td>
          </tr>
        </table>
    </td>
    <td width="42" height="48">&nbsp;</td>
  </tr>
   <tr>
    <td width="42" height="48">&nbsp;</td>
    <td width="516" height="48" align="center"><a href="#" target="_blank"><img alt="Más información" src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/submit.png" width="264" height="56" border="0"></a></td>
    <td width="42" height="48">&nbsp;</td>
  </tr>
  <tr>
    <td width="42" height="30">&nbsp;</td>
    <td width="516" height="30">&nbsp;</td>
    <td width="42" height="30">&nbsp;</td>
  </tr>
 </tbody>
</table>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR></TR></TBODY>
<tbody>
  <tr>
    <td width=42>&nbsp;</td>
    <td width=69><img src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/image3.jpg" width=58 height=60></td>
    <td style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0E4B9C" width=175><strong><font style="FONT-SIZE: 17px">DOCENTES</font></strong><br>
    con reconocida<br>
      Trayectoria</td>
    <td width=28>&nbsp;</td>
    <td width=69><img src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/image4.jpg" width=58 height=60></td>
    <td valign="top" style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0E4B9C" width=175><strong><font style="FONT-SIZE: 17px">RESPALDO</font></strong><br>
      de Intercorp</td>
    <td width=42>&nbsp;</td>
  </tr>
  <tr>
    <td height=26>&nbsp;</td>
  </tr>
  <tr>
    <td width=42>&nbsp;</td>
    <td width=69><img src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/image5.jpg" width=58 height=60></td>
    <td style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0095B5" width=175><strong><font style="FONT-SIZE: 17px">METODOLOGÍA</font></strong><br>Práctica</td>
    <td width=28>&nbsp;</td>
    <td width=69><img src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/image6.jpg" width=58 height=60></td>
    <td style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #0097D0" width=175><strong><font style="FONT-SIZE: 17px">NETWORKING</font></strong><br>amplia tu red.</td>
    <td width=42>&nbsp;</td>
  </tr>
  <tr>
    <td height=42>&nbsp;</td>
  </tr>
</tbody>
</TABLE>
<TABLE cellSpacing=0 cellPadding=0 width=600 align=center border=0>
<TBODY>
<TR>
<TD>&nbsp;</TD>
<td style="FONT-SIZE: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #6d6d6d" align=center>
<p>Para más información, contáctanos al {TelSede}&nbsp;ó al<BR>correo {CorreoSede}</p></td>
<TD>&nbsp;</TD></TR>
<TR>
<TD height=42>&nbsp;</TD></TR></TBODY></TABLE>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="background:#008397;border-top:2px solid #95c71c;margin-bottom:18px;">
  <tbody>
    <tr>
      <td style="width:100px;"><img src="https://bytebucket.org/addconsulta/ipae/raw/503a3ad4d619e24432142284d1e9dd2d553c21dc/diplomados-y-carreras/imagenes/logo-interbank.png" style="margin-left:20px;margin-top:15px;margin-bottom:15px;"></td>
      <td><img src="https://bytebucket.org/addconsulta/ipae/raw/503a3ad4d619e24432142284d1e9dd2d553c21dc/diplomados-y-carreras/imagenes/logo-acreditacion-universal.png" style="margin-left:20px;"></td>
      <td style="width:64px;text-align:right;">
        <a href="https://goo.gl/Sq9sRe" target="_blank">
          <img alt="Siguenos en Facebook" border="0" height="32" src="http://robbyralston.com/clientes/ipae/mail1-12-05-2016/img/facebook.png" width="32" style="margin-right:15px;" />
        </a>
      </td>
    </tr>
  </tbody>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
  <tbody>
    <tr>
      <td align="center" style="font-size: 11px;font-family: Arial, Helvetica, sans-serif;color: #838383">Este mail ha sido enviado a:&nbsp;{email}&nbsp;por IPAE Escuela de Empresarios.</td>
    </tr>
    <tr>
      <td align="center" style="font-size: 11px;font-family: Arial, Helvetica, sans-serif;color: #838383">&nbsp;</td>
    </tr>
  </tbody>
</table>